body {
  font-family: sans-serif;
  background-color: transparent;
}

a {
  color: #ff5f2e;
}

a:hover {
  color: #fcbe32;
}

#switcher-tv {
  /* position: fixed;
  right: 280px;
  bottom: 20px;
  padding: 20px;
  font-weight: 700;
  font-size: 16px;
  z-index: 10000; */

  width: auto;
  height: 30px;
  margin-right: 50px;
  align-items: center;
  right: 15%;
  top: 84px;
  position: fixed;
  z-index: 100000;
}

h1 {
  text-align: center;
}

.screen {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 1000%;
  /* transform: translate(-50%, -50%); */
  content: " ";
  overflow: hidden;
  background: #16222A;
  background: -webkit-linear-gradient(to left, #16222A, #3A6073);
  background: linear-gradient(to left, #16222A, #3A6073);
  background-size: contain;
  /* background-repeat: no-repeat; */
  background-image: url(FlippingChannels.gif);

  /* background-image: url(https://cldup.com/gn3s3Fg75t.gif); */
  color: #e1eef6;
  z-index: 2000;
}

a {color: #000000;
}
